.btn-default .badge {
    color: #ffffff;
    background-color: #555555
}

.navbar-default .badge {
    background-color: #fff;
    color: #2fa4e7
}

.navbar-inverse .badge {
    background-color: #fff;
    color: #033c73
}

.panel-danger>.panel-heading .badge {
    color: #c71c22;
    background-color: #b94a48
}

.panel-warning>.panel-heading .badge {
    color: #dd5600;
    background-color: #c09853
}

.panel-info>.panel-heading .badge {
    color: #033c73;
    background-color: #3a87ad
}

.panel-success>.panel-heading .badge {
    color: #73a839;
    background-color: #468847
}

.panel-primary>.panel-heading .badge {
    color: #2fa4e7;
    background-color: #ffffff
}

.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #555555
}

a.badge:hover,
a.badge:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer
}

.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #2fa4e7;
    background-color: #ffffff
}

.list-group-item>.badge {
    float: right
}

.list-group-item>.badge+.badge {
    margin-right: 5px
}

.nav-pills>li>a>.badge {
    margin-left: 3px
}
.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

.btn-xs .badge,
.btn-group-xs>.btn .badge {
    top: 0;
    padding: 1px 5px
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #2fa4e7;
    border-radius: 10px
}

.btn-info .badge {
    color: #033c73;
    background-color: #ffffff
}

.btn-warning .badge {
    color: #dd5600;
    background-color: #ffffff
}

.btn-danger {
    color: #ffffff;
    background-color: #c71c22;
    border-color: #c71c22
}

.btn-danger:focus,
.btn-danger.focus {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #570c0f
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #911419
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #911419
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus {
    color: #ffffff;
    background-color: #7b1115;
    border-color: #570c0f
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #c71c22;
    border-color: #c71c22
}

.btn-danger .badge {
    color: #c71c22;
    background-color: #ffffff
}

.btn-default .badge {
    color: #ffffff;
    background-color: #555555
}

.btn-primary .badge {
    color: #2fa4e7;
    background-color: #ffffff
}

.btn-success .badge {
    color: #73a839;
    background-color: #ffffff
}