.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

a.label:hover,
a.label:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer
}

.label:empty {
    display: none
}

.btn .label {
    position: relative;
    top: -1px
}

.label-default {
    background-color: #999999
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #808080
}

.label-primary {
    background-color: #2fa4e7
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #178acc
}

.label-success {
    background-color: #73a839
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #59822c
}

.label-info {
    background-color: #033c73
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #022241
}

.label-warning {
    background-color: #dd5600
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #aa4200
}

.label-danger {
    background-color: #c71c22
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #9a161a
}